<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<h2>Library</h2>
<div>
    <table style="border: 1px solid black">
        <thead >
        <tr style="border: 1px solid black">
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Gendre</th>
            <th>Controls</th>
        </tr>
        </thead>
        <tbody th:each="b : ${books}">
        <tbody th:include="(${session.current} != null and ${b.isbn} == ${session.current.isbn})?edit:view::view"></tbody>
        </tbody>
    </table>
    <h3>Add a new book</h3>
    <form th:action="@{/api}" method="post" th:object="${book}" style="text-align:center">
            <table>
            <tr>
                <td>
                    <label for="title">Book name</label>
                </td>
                <td>
                    <input type="text" id="title" th:field="*{title}" />
                </td>
            </tr>
                <tr>
                    <td>
                        <label for="author">Author</label>
                    </td>
                    <td>
                        <input type="text" id="author" th:field="*{author}" />
                    </td>
                    </tr>
                <tr>
                    <td>
                        <label for="price">Book price</label>
                    </td>
                    <td>
                        <input type="number" id="price" th:field="*{price}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="gendre">Gendre</label>
                    </td>
                    <td>
                        <input type="text" id="gendre" th:field="*{gendre}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Add Book" />
                    </td>
                </tr>
            </table>
    </form>
</div>

</body>
</html>
