<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <a th:href="@{/api}">Next page</a>
        <div th:include="(${#httpServletRequest.remoteUser}?logout:login)::form">
        </div>
    </body>
</html>