<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>View Library</title>
</head>
<body>
<table>
    <tr th:fragment="view">
        <!--<td th:text="${session.current.id}" th:if="${session.current != null}"></td>
        <td th:text="${p.id}"></td>-->
        <td th:text="${b.title}"></td>
        <td th:text="${b.author}"></td>
        <td th:text="${b.price}"></td>
        <td th:text="${b.gendre}"></td>
        <td>
            <form th:action="@{/api/{id}(id=${b.isbn})}" th:method="delete">
                <input type="submit" value="Delete Book" />
            </form>
            <form th:action="@{/api/{id}(id=${b.isbn})}" th:method="get">
                <input type="submit" value="Edit Book" />
            </form>
        </td>
    </tr>
</table>
</body>
</html>